This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [10]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
#API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import pandas as pd
import quandl
quandl.ApiConfig.api_key = ""

In [5]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
data = quandl.get("FSE/AFX_X")
data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2000-06-07,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0
2000-06-08,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0
2000-06-09,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-12,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-13,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-14,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-15,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-16,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-19,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-20,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-21,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-22,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-23,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-26,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-27,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-28,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-29,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-30,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-07-03,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-07-04,NaN,NaN,NaN,39.65,NaN,0.0,NaN,None,None,0.0
2000-07-05,NaN,NaN,NaN,40.50,NaN,0.0,NaN,None,None,0.0
2000-07-06,NaN,NaN,NaN,40.50,NaN,0.0,NaN,None,None,0.0
2000-07-07,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-10,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-11,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-12,NaN,NaN,NaN,37.08,NaN,0.0,NaN,None,None,0.0
2000-07-13,NaN,NaN,NaN,37.08,NaN,0.0,NaN,None,None,0.0
2000-07-14,NaN,NaN,NaN,39.14,NaN,0.0,NaN,None,None,0.0
2000-07-17,NaN,NaN,NaN,40.00,NaN,0.0,NaN,None,None,0.0
2000-07-18,NaN,NaN,NaN,40.00,NaN,0.0,NaN,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...
2019-05-31,84.20,85.15,82.40,84.25,NaN,224136.0,18772682.0,None,None,NaN
2019-06-03,83.85,84.60,83.15,84.60,NaN,211906.0,17831666.0,None,None,NaN
2019-06-04,84.00,84.05,81.95,83.80,NaN,194026.0,16189447.0,None,None,NaN
2019-06-05,83.80,86.00,83.60,85.85,NaN,196908.0,16831752.0,None,None,NaN
2019-06-06,85.40,86.05,85.00,85.50,NaN,141747.0,12126871.0,None,None,NaN
2019-06-07,85.90,87.20,85.45,86.95,NaN,138663.0,12010778.0,None,None,NaN
2019-06-11,88.85,89.45,87.50,88.50,NaN,227941.0,20185300.0,None,None,NaN
2019-06-12,88.80,90.05,87.95,89.95,NaN,147576.0,13225749.0,None,None,NaN
2019-06-13,90.05,90.55,88.95,89.50,NaN,77479.0,6936254.0,None,None,NaN
2019-06-14,89.00,89.55,88.15,89.55,NaN,96679.0,8632357.0,None,None,NaN
2019-06-17,89.55,90.35,89.15,90.35,NaN,112315.0,10108563.0,None,None,NaN
2019-06-18,91.70,94.65,90.55,94.35,NaN,209043.0,19579046.0,None,None,NaN
2019-06-19,92.55,92.65,88.30,89.15,NaN,239831.0,21474952.0,None,None,NaN
2019-06-20,89.00,90.35,88.95,89.20,NaN,110960.0,9924531.0,None,None,NaN
2019-06-21,88.50,88.80,86.85,86.90,NaN,281537.0,24608656.0,None,None,NaN
2019-06-24,86.90,88.05,86.20,87.20,NaN,117151.0,10211707.0,None,None,NaN
2019-06-25,86.95,87.25,84.80,86.25,NaN,156907.0,13487083.0,None,None,NaN
2019-06-26,85.85,86.10,84.15,84.35,NaN,113137.0,9582973.0,None,None,NaN
2019-06-27,84.80,84.80,83.90,84.35,NaN,108133.0,9116091.0,None,None,NaN
2019-06-28,84.50,86.85,83.80,86.75,NaN,230574.0,19812290.0,None,None,NaN
2019-07-01,88.60,88.60,85.15,85.95,NaN,219363.0,18866410.0,None,None,NaN
2019-07-02,85.95,86.50,85.35,86.50,NaN,150270.0,12952523.0,None,None,NaN
2019-07-03,86.60,88.45,86.45,88.30,NaN,130283.0,11450014.0,None,None,NaN
2019-07-04,88.05,88.30,86.90,88.05,NaN,98273.0,8621586.0,None,None,NaN
2019-07-05,87.95,88.25,84.90,85.95,NaN,124957.0,10782292.0,None,None,NaN
2019-07-08,85.75,86.40,85.20,85.90,NaN,63967.0,5495242.5,None,None,NaN
2019-07-09,85.40,87.60,85.40,86.20,NaN,104420.0,9026189.0,None,None,NaN
2019-07-10,86.05,86.55,84.15,85.75,NaN,116226.0,9947223.0,None,None,NaN
2019-07-11,85.70,87.15,85.65,86.15,NaN,162794.0,14041185.0,None,None,NaN
2019-07-12,86.15,86.20,84.45,84.95,NaN,111137.0,9448958.0,None,None,NaN

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [33]:
#1
df = quandl.get("FSE/AFX_X", start_date="2007-1-1", end_date="2007-12-31")
df.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2007-01-01,NaN,NaN,NaN,15.80,None,0.0,NaN,None,None,0.0
2007-01-02,15.89,16.40,15.89,16.40,None,74388.0,1197423.0,None,None,NaN
2007-01-03,16.50,16.65,16.28,16.33,None,57386.0,944194.0,None,None,NaN
2007-01-04,16.25,16.36,15.91,16.15,None,42859.0,689922.0,None,None,NaN
2007-01-05,16.00,16.12,15.80,16.10,None,88627.0,1410357.0,None,None,NaN

In [34]:
#3
print("Highest Opening:", df.Open.max())
print("Lowest Opening:", df.Open.min())

Highest Opening: 18.37
Lowest Opening: 11.32

In [16]:
#4
df.Change = (df.Open - df.Close).abs()
df.Change.max()

1.3800000000000008

In [32]:
#5
df["Change_btw_days"] = (df.Close - df.Close.shift(1)).abs()
df.Change_btw_days.max()

1.0199999999999996

In [26]:
#6
df["Traded Volume"].mean()

95178.98850574713

In [28]:
#7
df["Traded Volume"].median()

66204.0